/* CAREER SECTION */

.career-opportunity {
    grid-template-areas: section-c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: solid 0.2rem black;
  border-radius: 2%;
  margin: 2rem;
}

#contactForm label, input, select, textarea {
  padding: 0.5rem; 
  width: 17rem;
  height: 1%;
}

.career-subtitle {
  padding-top: 2rem;
}