/* CLIENTS SECTION */

.our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100vw;
}

.our-clients .section-title p {
    padding-top: 1.8rem;
}

.client-picture-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-pic {
    width: 23rem;
    padding: 1.5rem;
}

.client-picture-lists p {
    width: 15rem;
    text-align: center;
}
