/* CLIENTS SECTION */

.our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.client-picture-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-pic {
    width: 40rem;
    padding: 1.5rem;
}

.white-text {
    color: #fff;
}

/* 48em = 768px */
  
@media (min-width: 48em) {
    
    }
  }