footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.contact-list {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.contact-list li {
    font-size: 1rem;
    color: white;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footer-logo {
    width: 5rem;
    padding-bottom: 2rem;
}

.footer-section {
    color: white;
    text-align: center;
}

.footer-section h3 {
    font-size: 1.5rem;
    border-bottom: solid white;
}

.footer-section p {
    padding-top: 1rem;
    width: 80vw;
}

.footer-section iframe {
    padding-top: 2rem;
    width: 80vw;
}

.contact-list li:nth-child(1) {
    list-style: url("/assets/img/Instagram_icon_20px.webp");
}

.contact-list li:nth-child(2) {
    list-style: url("/assets/img/twitter40px.webp")
}

.contact-list li:nth-child(3) {
    list-style: url("/assets/img/gmail40px.webp")
}
