/* navigation bar */

@media (min-width: 429px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 15rem;
    }

    .header li {
      float: left;
    }
    .header li a {
      padding: 1rem 1rem;
      font-size: 1.2rem;
      font-weight: 1000;
    }
    .header .menu {
      clear: none;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

    /* hero */

    .hero-banner {
        background-size: cover;
        padding-top: 15rem;
    }

    .program-img {
        width: 30rem;
    }

    .about-company h1 {
        font-size: 1.5rem;
    }

    .about-company h2 {
        font-size: 1.2rem;
    }

    /* index */

    .index-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1rem;
    }

    .tablet-logo {
        display: flex;
    }

    .index-list {
        width: 10rem;
        height: 10rem;
    }

    .index-list.item-2 {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .index-list.item-3 {
        grid-row-start: 3;
        grid-column-start: 3;
    }

    .index-list.item-4 {
        grid-row-start: 4;
        grid-column-start: 4;
    }

    .programmer-girl {
        width: 9rem;
    }

    .index-list.item-5 {
       grid-column: 1;
       grid-row: 4;
    }

    .renchon {
        width: 8rem;
    }

    .programmer-language {
        width: 9.7rem;
    }

    /* about us */

    .about-us {
        width: 100vw;
    }

    .carousel-inner {
        width: 49rem;
    }

    /* tech stack */

    .tech-logos {
       display: grid;
       grid-template-columns: repeat(6, 1fr);
       grid-template-rows: repeat(2, 1fr);
       column-gap: 0.1rem;
       padding-left: 1rem;
       padding-right: 1rem;
    }

    .lang-logo {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 8rem;
    }

    .python {
        grid-row: 2;
        grid-column:  2;
    }

    .react {
        grid-row: 2;
        grid-column: 4;
    }

    .nuxt {
        grid-row: 2;
        grid-column: 6;
    }

    .javascript {
        grid-row: 1;
        grid-column: 3;
    }

    .asp {
        grid-row: 1;
        grid-column: 5;
    }

    /* our clients section */

    .our-clients {
        width: 100vw;
    }

    .client-pic {
        width: 50rem;
    }

    .client-picture-lists p {
        font-size: 1.2rem;
        width: 25;
    }


    /* career opportunity */
   
    .career-opportunity {
        width: 100vw;
    }

    .contact-form {
        width: 35rem;
    }

    #contactForm input {
        width: 30rem;
    }

    #contactForm textarea {
        width: 30rem;
        height: 10rem;
    }
}