@import "hero.css";
@import "header.css";
@import "tech-stack.css";
@import "clients.css";
@import "career.css";
@import "footer.css";
@import "indexSection.css";
@import "aboutUs.css";
@import "responsivetablet.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Font-montserrat';
    src: 
        url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
  }

.container {
    display: grid;
    grid-template-rows: auto;
  }

  h3 {
    font-family: 'Font-montserrat';
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid black;
  }

  .tech-stack, 
.career-opportunity {
    background: white;
}

.hero-banner {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255), rgba(14, 42, 71, 0.73)),
    url("/assets/img/code-1839406_1920.webp")
    background-size: contain;
}

footer{
    background-image: url("/assets/img/footer-background.webp");
    background-size: cover;
}
